name: main
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - run: git clone https://github.com/andriy332/KinashServer.git
      - run: cd KinashServer
      - run: npm test
